<!DOCTYPE html>
<html>
<head>
  <title>Mapbox Vector Tile Specification</title>
  <link href='https://www.mapbox.com/base/latest/base.css?v1.0' rel='stylesheet' />
  <link href="{{ site.baseurl }}/css/site.css" rel="stylesheet">
</head>
<body>
  <div class='col12 clearfix'>
    <div class='sidebar col3 pad1'>
      {% include sidebar.html %}
    </div>
    <div class='content margin0 col8'>
      {% include main.html %}
    </div>
  </div>
  <script src="{{ site.baseurl }}/js/site.js"></script>
</body>
</html>
